<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
</head>

<body>
    <h1>Welcome to the Prompt Engineering Learning App</h1>
    <a href="/users/register">Register</a>
    <a href="/users/login">Login</a>



</body>

</html>
